* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

html {
    font-size: calc(10px + 1vmin);
}

body {
    /* position: relative; */
    box-sizing: border-box;
}

header {
    background-image: url("./bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 85%;
    height: 10vh;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
.image img{
    height: 4rem;
    width: 9rem;
}
.navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    font-size: .8rem;
}

.get-started-button {
    background-color: black;
    color: white;
    display: inline-block;
    height: 3rem;
    width: 8rem;
    border-radius: .60rem;
    border: none;
    cursor: pointer;
}

.get-started-button:hover {
    color: black;
    background-color: yellow;
    transition: .4s;
    transform: scale(1.2);
}

.header-text {
    position: absolute;
    top: 68%;
    left: 44%;
    font-size: 2.1rem;

}

a {
    color: rgb(0, 0, 0);
}

@media (max-width:1034px) {
    .navbar {
        font-size: .7rem;
        /* width: 80%; */
    }

    .head-logo {
        width: 100px;
        height: 60px;
    }

}

@media (max-width:850px) {
    .navbar {
        font-size: .6rem;
        /* width: 80%; */
    }

    .head-logo {
        width: 90px;
        height: 45px;
    }

    .get-started-button {
        height: 1.5rem;
        width: 6rem;
        border-radius: .2rem;
    }
}

.counter-box {
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25vh;
    color: white;
    font-size: 3rem;
    padding: 1rem;
}

.plus {
    color: aqua;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.text {
    color: white;
    font-size: 1rem;
    flex-direction: column;
}

@media(max-width:1050px) {
    .counter-box {
        font-size: 2.5rem;
        padding: 1rem;
    }

    .plus {
        color: aqua;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bolder;
    }

    .text {
        color: white;
        font-size: .7rem;
        flex-direction: column;
    }
}

@media(max-width:850px) {
    .counter-box {
        font-size: 2rem;
        padding: 1rem;
    }

    .plus {
        color: aqua;
        padding: 1rem;
        font-size: .7rem;
        font-weight: bolder;
    }

    .text {
        color: white;
        font-size: .5rem;
        flex-direction: column;
    }
}

.about-page-main {
    display: flex;
    /* justify-content: center; */
}

.about-page {
    /* background-color: aqua; */
    height: 80vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.about-logo1 img {
    display: flex;
    justify-content: end;
    top: 50%;
    left: 50%;
    transform: translate(30%, 12%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.about-heading {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.img-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about-logo2 {
    height: 5rem;
    width: 5rem;
    padding-right: 3rem;
}

.img-head-text {
    font-size: 2rem;
}

.lorem {
    text-align: justify;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.btn1,
.btn2 {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    width: 12rem;

}

.btn-logo1,
.btn-logo2 {
    height: 1.5rem;
    width: 1.5rem;
    padding: .5rem;
}

.btn-develp,
.btn-research {
    color: white;
    background-color: transparent;
    padding: .5rem;
    border: none;
}

.btn-get-touch {
    margin-top: 2rem;
    padding: .5rem;
    color: black;
    background-color: transparent;

}
.service-page{
    width: 100%;
    background-color:#292930;
    height: 130vh;
    color: white;
    margin-top: 6rem;
}
.service-logo-part {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.service-logo {
    width: 5rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.service-logo-part h3 {
    font-size: 1.7rem;
}

.card-main{
    display: flex;
    flex-direction: row ;
    justify-content: center;
   gap: .6rem;
    
}
.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 22%;
    background-color:#393945;
     border-radius: 1rem;
     
}
.card1 span{
     display: block;
     text-align: center;
     font-size: 1.5rem;
}
.card1 p{
    text-align: justify;
    padding: 1rem;
}
.card1 img{
    background-color: black;
    border-radius: 50%;
    padding: 1rem; 
    height: 3rem;
    width: 3rem;
}
.card1 hr{
    margin: auto;
    width: 40%;
    height: .5vh;
    background-color: white;
    border-radius: 4rem;
}
.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 22%;
    background-color:#393945;
     border-radius: 1rem;
}
.card2 span{
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
.card2 p{
   text-align: justify;
   padding: 1rem;
}
.card2 img{
   background-color: black;
   border-radius: 50%;
   padding: 1rem; 
   height: 3rem;
   width: 3rem;
}
.card2 hr{
    margin: auto;
    width: 40%;
    height: .5vh;
    background-color: white;
    border-radius: 4rem;
}
.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 22%;
    background-color:#393945;
     border-radius: 1rem;
}
.card3 span{
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
.card3 p{
   text-align: justify;
   padding: 1rem;
}
.card3 img{
   background-color: black;
   border-radius: 50%;
   padding: 1rem; 
   height: 3rem;
   width: 3rem;
}
.card3 hr{
    margin: auto;
    width: 40%;
    height: .5vh;
    background-color: white;
    border-radius: 4rem;
}
.card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 22%;
    background-color:#393945;
     border-radius: 1rem;
}
.card4 span{
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
.card4 p{
   text-align: justify;
   padding: 1rem;
}
.card4 img{
   background-color: black;
   border-radius: 50%;
   padding: 1rem; 
   height: 3rem;
   width: 3rem;
}
.card4 hr{
    margin: auto;
    width: 40%;
    height: .5vh;
    background-color: white;
    border-radius: 4rem;
}
.card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    flex-direction: row;
}
.card-btn button{
     height: 3rem;
     width: 8rem;
     margin: .6rem;
     border-radius: .4rem;
     border: none;
     background-color:#393945;
     color: white;
}
.card-btn1:hover{
    background-color: white;
    color: black;
}
.card-btn2:hover{
    background-color: white;
    color: black;
}
.team-page{
    width: 100%;
    height: 110vh;
    color: white;
}
.team-page-part{
    display: flex;
    flex-direction: column;
    align-items:center ;
    /* background-color: red; */
    height: 40vh;
}
.team-page-logo{
    background-color: rgb(253, 107, 255);
    padding: 1rem;
    border-radius:50%;
    width: 4%;
    height: 4vh;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.team-page-part h3{
    font-size: 1.7rem;
    color: black; 
}
.team-cards{
    /* background-color: blue; */
    margin-top: 1rem;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 1rem;
}

/* team card1 */
.team-card1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:aliceblue;
    height: 55vh;
    width: 17%;

}
.tcard1-Photo{
    height:30vh;
    width: 95%;
    border-radius: 2rem 2rem 0rem 0rem ;
    
}
.tcard1-line{
    margin-top: .4rem;
}
.tcard1-p{
    font-size: 1.5rem;
    color: black;
    margin-top: .7rem;
}
.tcard1-p span{
    font-size: 1rem;
    display: block;
    text-align: center;
    margin-top: .5rem;
}
.tcard1-social{
    margin-top: 1rem;
}
/* team card 2 */

.team-card2{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:aliceblue;
    height: 55vh;
    width: 17%;

}
.tcard2-Photo{
    height:30vh;
    width: 95%;
    border-radius: 2rem 2rem 0rem 0rem ;
    
}
.tcard2-line{
    margin-top: .4rem;
}
.tcard2-p{
    font-size: 1.5rem;
    color: black;
    margin-top: .7rem;
}
.tcard2-p span{
    font-size: 1rem;
    display: block;
    text-align: center;
    margin-top: .5rem;
}
.tcard2-social{
    margin-top: 1rem;
}

/* team card3 */

.team-card3{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:aliceblue;
    height: 55vh;
    width: 17%;

}
.tcard3-Photo{
    height:30vh;
    width: 95%;
    border-radius: 2rem 2rem 0rem 0rem ;
    
}
.tcard3-line{
    margin-top: .4rem;
}
.tcard3-p{
    font-size: 1.5rem;
    color: black;
    margin-top: .7rem;
}
.tcard3-p span{
    font-size: 1rem;
    display: block;
    text-align: center;
    margin-top: .5rem;
}
.tcard3-social{
    margin-top: 1rem;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#E9F7FF,#FFDBD4,#FFF3CA);
    height: 80vh;
    width: 100%;
}
.location-head{
    height: 16vh;
    width: 70%;
    display: grid;
    grid-template-columns: 10% 70% 20%;
}
.lh-logo img{
    width: 70%;
    height: 10vh;
}
.lh-p p{
    font-size: 1.7rem;
}
.lh-p span{
    font-size: 1rem;
}
.lh-btn{
    display: flex;
    justify-content: end;
    align-items: end;
}
.lh-btn button{
    border: none;
    border-radius: .5rem 0rem 0rem .5rem ;
    color: white;
    background-color: #292930;
    height: 40%;
    width: 80%;
}

.location-cards{
    height: 40vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.location-card1 {
    height: 30vh; width: 25%;
    background-color: white;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 2rem;
}
.flag1{
    height: 6vh;
    width: 20%;
}
.location-card1 h3{
    font-size: 1.3rem;
}
.location-card1 p{
    font-size: .9rem;
}
.location-cel1 img{
    height: 3vh;
    padding-right: .5rem;
}
.location-mail1 img{
    height: 2.5vh;
    padding-right: .5rem;
}

/* location card 2 */

.location-card2 {
    height: 30vh; width: 25%;
    background-color: white;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 2rem;
}
.flag2{
    height: 6vh;
    width: 20%;
}
.location-card2 h3{
    font-size: 1.3rem;
}
.location-card2 p{
    font-size: .9rem;
}
.location-cel2 img{
    height: 3vh;
    padding-right: .5rem;
}
.location-mail2 img{
    height: 2.5vh;
    padding-right: .5rem;
}

/* location card 333 */

.location-card3 {
    height: 30vh; width: 25%;
    background-color: white;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 2rem;
}
.flag3{
    height: 6vh;
    width: 20%;
}
.location-card3 h3{
    font-size: 1.3rem;
}
.location-card3 p{
    font-size: .9rem;
}
.location-cel3 img{
    height: 3vh;
    padding-right: .5rem;
}
.location-mail3 img{
    height: 2.5vh;
    padding-right: .5rem;
}