* {
    margin: 0%;
    padding: 0%;

}

marquee {
    background-color: black;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantainer {
    background-color: rgb(196, 229, 222);
    height: 40rem;
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4rem 1fr 1fr 5rem;
    gap: 1rem;
    padding: 1rem;
}

.item1 {
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: brown;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.item2 {
    background-color: aqua;
}

.item3 {
    background-color: aqua;
    grid-row: 2/4;
    grid-column: 2/3;
}

.item4 {
    background-color: aqua;
}

.item6 {
    background-color: aqua;
    grid-column: 1/3;
}