* {
    margin: 0%;
    padding: 0%;
}

html{
    font-size: calc(10px + 1vmin);
}

body {
    background-image: linear-gradient(45deg ,rgba(112, 47, 4, 0.294), rgba(255, 132, 0, 0.18)), url('./hero.jpg');
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}
#hamburger{
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 3%;
    left: 3%;
    display: none;
}
#hamburger img{ 
    height: 3rem;
    width: 2rem;
}
#navbar{
    background-color: rgb(27, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}
#navbar img{
    height: 2rem;
    width: 2rem;
}
a {
    text-decoration: none;
    color: white;
    font-size: .7rem;
    padding: 1rem;
}
.signup,.login{
    background-color: orange;
    color:white;
    display: inline-block;
    /* height: 1rem;
    width: 3rem; */
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg {
    background-color: rgba(69, 65, 70, 0.753);

    height: 76vh;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 30px white;

}

h3 {
    color: white;
    position: absolute;
    margin-bottom: 24rem;
    font-weight: bold;
    font-size: 1.7rem;
    
}

.reg p {
    color: rgb(255, 255, 255);
    padding: 1rem 1rem 1rem 0px;
    
}


.reg input[type='text'],
.reg input[type='password'] {

    background-color: black;
    height: 3rem;
    width: 15rem;
    border: none;
    border-radius: .75rem;
    padding-left: 1rem;
    color: white;
}

.reg input[type='submit'] {
    background-color: brown;
    height: 3rem;
    width: 16rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;

    margin-top: 1.5rem;
}

form {
    margin-top: 7rem;
}
footer{
    background-color: rgb(27, 23, 23);
    color: white;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    height: 2rem;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    bottom: 0%;
    width: 100%;
}
@media(max-width=700px){
    #navbar{
        font-size: .6rem;
        padding: .3;
    }
}

@media(max-width:500px) {
    button#hamburger{
        height: 3rem;
        background-color:transparent;
        width: 3rem;
        display: block;
        z-index: 99;
}
.reg{
    height: 50vh;
    width: 70%;
    font-size: .8rem;
}

#navbar{
    display: none;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.581);
    box-shadow:  -10px -10px 50px 30px rgba(255, 255, 255, 0.617) inset;
}
#navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    gap: 1.5rem;
}

}