* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: calc(10px, 1vmin);
}

#hamburger {
    display: none;
    background-color: transparent;
    position: absolute;
    top: 1%;
    height: 4rem;
    width: 3rem;
    z-index: 111;
    left:2%;
}

/* navbar////////////////////////////////////////// */
#navbar {
    z-index: 80;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: .3px solid orange; */
    /* box-shadow: 0px 1px 1px orange inset ; */
    height: 15vh;
    width: 100%;
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
}

nav img {
    height: 12rem;
    width: 12rem;
}

#menu {
    background-color: transparent;
    width: 50%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#menu a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

#menu a:hover {
    font-size: 1.9rem;
    color: #1B9FD1;
    transition: .3s;
    text-shadow: .3px .3px 3px white;
    /* box-shadow: 3px 3px 10px black; */

}
/* navabr end//////////////////////////////////// */



/* slider///////////////////////////////////// */

/* .carousel-inner{
    height: 100vh;
    width: 100%;
} */

.carousel-caption span{ 
font-size: 5rem;
}
.carousel-caption h3{ 
    font-size: 3rem;
    }
.carousel-caption p{ 
    font-size: 1.4rem;
}    

.carousel-caption{
    margin-bottom: 30%;
}

/* slider?//////////////////////////////////////// */

/* head card section///////////////////////////////////////// */

.head-card-section {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
}

.main-head-card {
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    min-height: 70vh;
    width: 95%;
    top: -25%;
    transform: translateY(-25%);
}

.head-card1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 1.5rem;
    align-items: center;
    border: none;
    padding: 1.5rem;
    height: 60vh;
    width: 100%;
}

.head-card1 img {
    height: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.head-card1 h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.head-card1 p {
    font-size: .9rem;
    text-align: justify;
}

.head-card1:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}

.head-card2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1.5rem;
    padding: 1.5rem;
    height: 60vh;
    width: 100%;
}

.head-card2 img {
    height: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.head-card2 h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.head-card2 p {
    font-size: .9rem;
    text-align: justify;
}

.head-card2:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}

.head-card3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    border: none;
    padding: 1.5rem;
    height: 60vh;
    width: 100%;
}

.head-card3 img {
    height: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.head-card3 h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.head-card3 p {
    font-size: .9rem;
    text-align: justify;
}

.head-card3:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}

.head-card4 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1.5rem;
    padding: 1.5rem;
    height: 60vh;
    width: 100%;
}

.head-card4 img {
    height: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.head-card4 h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.head-card4 p {
    font-size: .9rem;
    text-align: justify;
}

.head-card4:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.07);
    color: white;
}
/* ////////////////////////////////////////////////////////////////////////// */

/* service circle section /////////////////////////////////////////// */
.holderCircle { width: 500px; height: 500px; border-radius: 100%; margin: 60px auto; position: relative; }


.dotCircle { width: 100%; height: 100%; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; border-radius: 100%; z-index: 20; }
.dotCircle  .itemDot { display: block; width: 80px; height: 80px; position: absolute; background: #ffffff; color: #000060; border-radius: 20px; text-align: center; line-height: 80px; font-size: 30px; z-index: 3; cursor: pointer; border: 2px solid #e6e6e6; }
.dotCircle  .itemDot .forActive { width: 56px; height: 56px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: none; }
.dotCircle  .itemDot .forActive::after { content: ''; width: 5px; height: 5px; border: 3px solid #000060; bottom: -31px; left: -14px; filter: blur(1px); position: absolute; border-radius: 100%; }
.dotCircle  .itemDot .forActive::before { content: ''; width: 6px; height: 6px; filter: blur(5px); top: -15px; position: absolute; transform: rotate(-45deg); border: 6px solid #000060; right: -39px; }
.dotCircle  .itemDot.active .forActive { display: block; }
.round { position: absolute; left: 40px; top: 45px; width: 410px; height: 410px; border: 2px dotted #000060; border-radius: 100%; -webkit-animation: rotation 100s infinite linear; }
.dotCircle .itemDot:hover, .dotCircle .itemDot.active { color: #ffffff; transition: 0.5s;   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */ background: orange; /* Old browsers */ background: -moz-linear-gradient(left, orange 0%, orange 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, orange 0%, orange 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, rgb(219, 146, 10) 0%, orange 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d4ac7', endColorstr='#a733bb', GradientType=1); /* IE6-9 */ border: 2px solid #ffffff; -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); }
.dotCircle .itemDot { font-size: 40px; }
.contentCircle { width: 250px; border-radius: 100%; color: #222222; position: relative; top: 150px; left: 50%; transform: translate(-50%, -50%); }
.contentCircle .CirItem { border-radius: 100%; color: #222222; position: absolute; text-align: center; bottom: 0; left: 0; opacity: 0; transform: scale(0); transition: 0.5s; font-size: 15px; width: 100%; height: 100%; top: 0; right: 0; margin: auto; line-height: 250px; }
.CirItem.active { z-index: 1; opacity: 1; transform: scale(1); transition: 0.5s; }
.contentCircle .CirItem i { font-size: 180px; position: absolute; top: 0; left: 50%; margin-left: -90px; color: #000000; opacity: 0.1; }
@media only screen and (min-width:300px) and (max-width:599px) {
	.holderCircle {/* width: 300px; height: 300px;*/ margin: 110px auto; }
	.holderCircle::after { width: 100%; height: 100%; }
	.dotCircle { width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
}
@media only screen and (min-width:600px) and (max-width:767px) { }
@media only screen and (min-width:768px) and (max-width:991px) { }
@media only screen and (min-width:992px) and (max-width:1199px) { }
@media only screen and (min-width:1200px) and (max-width:1499px) { }
  .title-box .title { font-weight: 600; letter-spacing: 2px; position: relative; z-index: -1; }
        .title-box span { text-shadow: 0 10px 10px rgba(0, 0, 0, .15); font-weight: 800; color: rgba(22, 22, 22, 0.87); }
        .title-box p {font-size: 17px; line-height: 2em; }

/* /////////////////////////////////////////////////////////////////////// */

/* our services ////////////////////////////// */

#services-section {
    width: 100%;
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    flex-direction: column;
}

.main-services {
    /* background-color: aqua; */
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-text {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.services-text h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.services-text p {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.main-services-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    /* background-color: blue; */
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    /* background-color: orchid; */
    min-height: 100vh;
    width: 100%;
}

.services-card1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    /* height: 30vh;
        width: 20%; */
}
.services-card1-image{
    display: flex;
    align-self:center ;
    /* background-color: aqua; */
    height: 7rem;
    widows: 100%;
}
.services-card1-image h3 {
    font-size: 1.4rem;
    gap: .5rem;
    align-self: center;
}
.services-card1-image img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2.5rem;
    align-self: flex-end;
}

.services-card1 p {
    font-size: .9rem;
    font-weight: 500;
    text-align: justify;

}

.services-card1:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}


.services-card2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    align-items: center;
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    /* height: 30vh;
        width: 20%; */
}
.services-card2-image{
    display: flex;
    align-self:center ;
    /* background-color: aqua; */
    height: 7rem;
    widows: 100%;
}
.services-card2-image h3 {
    font-size: 1.4rem;
    gap: .5rem;
    align-self: center;
}
.services-card2-image img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2.5rem;
    align-self: flex-end;
}

.services-card2 p {
    font-size: .9rem;
    font-weight: 500;
    text-align: justify;

}

.services-card2:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}


.services-card3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    align-items: center;
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    /* height: 30vh;
        width: 20%; */
}
.services-card3-image{
    display: flex;
    align-self:center ;
    /* background-color: aqua; */
    height: 7rem;
    widows: 100%;
}
.services-card3-image h3 {
    font-size: 1.4rem;
    gap: .5rem;
    align-self: center;
}
.services-card3-image img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2.5rem;
    align-self: flex-end;
}

.services-card3 p {
    font-size: .9rem;
    font-weight: 500;
    text-align: justify;

}

.services-card3:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}

.services-card4 {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    /* height: 30vh;
        width: 20%; */
}
.services-card4-image{
    display: flex;
    align-self:center ;
    /* background-color: aqua; */
    height: 7rem;
    widows: 100%;
}
.services-card4-image h3 {
    font-size: 1.4rem;
    gap: .5rem;
    align-self: center;
}
.services-card4-image img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2.5rem;
    align-self: flex-end;
}

.services-card4 p {
    font-size: .9rem;
    font-weight: 500;
    text-align: justify;

}

.services-card4:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}


.services-card5 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    /* border: 1px solid orange; */
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    /* height: 30vh;
        width: 20%; */
}
.services-card5-image{
    display: flex;
    align-self:center ;
    /* background-color: aqua; */
    height: 7rem;
    widows: 100%;
}
.services-card5-image h3 {
    font-size: 1.4rem;
    gap: .5rem;
    align-self: center;
}
.services-card5-image img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2.5rem;
    align-self: flex-end;
}

.services-card5 p {
    font-size: .9rem;
    font-weight: 500;
    text-align: justify;

}

.services-card5:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}



.services-card6 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    /* border: 1px solid orange; */
    /* height: 30vh;
        width: 20%; */
}
.services-card6-image{
    display: flex;
    align-self:center ;
    /* background-color: aqua; */
    height: 7rem;
    widows: 100%;
}
.services-card6-image h3 {
    font-size: 1.4rem;
    gap: .5rem;
    align-self: center;
}
.services-card6-image img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2.5rem;
    align-self: flex-end;
}

.services-card6 p {
    font-size: .9rem;
    font-weight: 500;
    text-align: justify;

}

.services-card6:hover {
    background-color: orange;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.61);
    transform: scale(1.05);
    color: white;
}



/* //////////////////////////////////////////////////// */


/* services -section part 222222222222222222222//////////////// */
/* services -section part 222222222222222222222//////////////// */
#services-section2 {
    /* background-color: red; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin-top: 6rem 0 3rem 0;

}

.services-section2-cantainer {
    display: grid;
    grid-template-columns: 40% 25% 25%;
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    min-height: 100vh;
    width: 90%;
}

.servics2-card1 {
    background-image: url(./Photo.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row: 1/3;
    border-radius: 2rem;
    border: none;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
}

.servics2-card1-content {
position: absolute;
    background-color: rgba(0, 0, 139, 0.733);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
   
    /* padding: 1rem; */
}

.servics2-card1-content h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.servics2-card1-content h2 {
    font-size: 3rem;
    text-align: center;
}

/* .services-card part2222222222222222222//////////////// */

.servics2-card2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.726);
    padding: 0.2rem .2rem 1rem 1rem;
    border-radius: 0 4rem 0 4rem;
    color: white;

}
.servics2-card2:hover{ 
    transition: 1s;
    transform: scaleY(1.1);
    background-color: rgba(0, 0, 139, 0.87);
}
.servics2-card2 h2{
    font-size:1.5rem ;
    /* justify-self: start; */
    align-self: flex-start;
} 
.servics2-card2 h3{
    font-size:1rem ;
   
}  
.servics2-card2 span{
    font-size:3rem ;
    padding-right: 1rem;
   
} 



.servics2-card3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.726);
    padding: 0.2rem .2rem 1rem 1rem;
    border-radius: 0 4rem 0 4rem;
    color: white;

}
.servics2-card3:hover{ 
    transition: 1s;
    transform: scaleY(1.1);
    background-color: rgba(0, 0, 139, 0.87);
}
.servics2-card3 h2{
    font-size:1.5rem ;
    /* justify-self: start; */
    align-self: flex-start;
} 
.servics2-card3 h3{
    font-size:1rem ;
   
}  
.servics2-card3 span{
    font-size:3rem ;
    padding-right: 1rem;
   
} 

/* //////////////// */
.servics2-card4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.726);
    padding: 0.2rem .2rem 1rem 1rem;
    border-radius: 0 4rem 0 4rem;
    color: white;

}
.servics2-card4:hover{ 
    transition: 1s;
    transform: scaleY(1.1);
    background-color: rgba(0, 0, 139, 0.87);
}
.servics2-card4 h2{
    font-size:1.5rem ;
    /* justify-self: start; */
    align-self: flex-start;
} 
.servics2-card4 h3{
    font-size:1rem ;
   
}  
.servics2-card4 span{
    font-size:3rem ;
    padding-right: 1rem;
   
} 
/* ////// */
.servics2-card5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.726);
    padding: 0.2rem .2rem 1rem 1rem;
    border-radius: 0 4rem 0 4rem;
    color: white;

}
.servics2-card5:hover{ 
    transition: 1s;
    transform: scaleY(1.1);
    background-color: rgba(0, 0, 139, 0.87);
}
.servics2-card5 h2{
    font-size:1.5rem ;
    /* justify-self: start; */
    align-self: flex-start;
} 
.servics2-card5 h3{
    font-size:1rem ;
   
}  
.servics2-card5 span{
    font-size:3rem ;
    padding-right: 1rem;
   
} 

/* /////////////////////////////////////////////////////////////////end */


/* <!-- call section//////////////////////////////////////////////////// --> */

.main-call-section{
    margin-top: 5rem;
    background-color: #15142f;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.call-section{
    /* background-color: #454545; */
    /* background-color: red; */
    width: 90%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    color: white;
}
 .call-section-logo{
    height:7rem;
    width: 7rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
.call-section img{
    background-color: white;
    border-radius: 50%;
    padding: .4rem;
    margin-bottom: 2rem;
    animation-name: cell_vibration;
    transition: 2s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes cell_vibration{
    form{
      width: 3rem;
    }
    to{
    width: 5rem;  
    }
}


.call-section button{
    color: white;
    font-size:1.4rem;
    font-family: 600;
    background-image: linear-gradient(250deg, #4e95ed 19%, #03228f 100%);
    padding: .8rem 2.5rem .8rem 2.5rem; 
    border-radius: 1.4rem;
    box-shadow: inset;
    border: none;
    
}

.call-section button:hover{
    background-image: linear-gradient(360deg, #4e95ed 19%, #03228f 100%);
   
}
/* .call-section h3{
    position: fixed;
} */

/* .call-section-logo{
    background-color: white;
    border-radius: 50%;
} */


/* <!-- ////////////////////////////////////// --> */

/* counter bar////////////////////////////////////////////////// */

.counter{
    color: darkblue;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 210px;
    height: 222px;
    padding: 48px 28px 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 4rem;
}
.counter:before,
.counter:after{
    content: '';
    background: linear-gradient(135deg,#fff,#f1f1f1);
    height: 147px;
    width: 147px;
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.2), -10px -10px darkblue;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 44px;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.counter:before{
    background: linear-gradient(135deg, darkblue 50%, transparent 50%);
    box-shadow: none;
    top: 80px;
}
.counter .counter-icon{
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 12px;
}
.counter h3{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 16px;
}
.counter .counter-value{
    color: #fff;
    background: linear-gradient(to right, darkblue, darkblue);
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
    width: 100%;
    padding: 10px 0 26px;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.counter.orange{ color: #FB9500; }
.counter.orange:after{
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.2), -10px -10px #ED8F1D;
}
.counter.orange:before{
    background: linear-gradient(135deg, #ED610A 50%,transparent 50%);
}
.counter.orange .counter-value{
    background: linear-gradient(to right, #EA7A00, #F1980C);
}
.counter.blue{ color: #1B9FD1; }
.counter.blue:after{
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.2), -10px -10px #288EBB;
}
.counter.blue:before{
    background: linear-gradient(135deg, #1167C3 50%, transparent 50%);
}
.counter.blue .counter-value{
    background: linear-gradient(to right, #0784C3, #32AAEE);
}
.counter.red{ color: #035d69; }
.counter.red:after{
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.2), -10px -10px #035d69;
}
.counter.red:before{
    background: linear-gradient(135deg, #035d69 50%, transparent 50%);
}
.counter.red .counter-value{
    background: linear-gradient(to right, #035d69, #035d69)}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}

/* /////////////////////////////////////////////////////////////// */

/* about section ////////////////////// */

#about-us-section {
    /* background-color: blue; */
    margin-top: 6rem;
    min-height: 80vh;
    width: 100%;
}

.about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80vh;
    width: 98%;
    background-color:#000060;
    border-radius: 0rem 20rem 20rem 0rem;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    color: white;
}

.about-us-text h5 {
    font-size: 1.5rem;
    align-self: flex-start;
}

.about-us-text h1 {
    font-size: 2rem;
}

.about-us-text p {
    font-size: 1rem;
}

.about-us-image {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.about-us-image img {
    width: 80%;
    height: 80vh;
}
/* /////////////////////////////////////////////////////////////////////////// */



/* testimonials/////////////////////////////////////////////////////////////// */

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #4b4a4a;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
    min-height: 100vh;
}
.testimonials {
padding: 120px 0 80px;
}
.testimonials .heading {
margin-bottom: 60px;
}
.testimonials .heading h2 {
font-size: 60px;
font-weight: 700;
color: #313e4b;
margin-bottom: 20px;
}
.testimonials .heading h2 span {
font-weight: 300;
color: #02a2c4;
margin: 0;

}
.testimonials .heading p {
font-size: 20px;
font-weight: 300;
line-height: 26px;
margin: 0;
color: #727f8c;
}
.testimonials .box {
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.212);
padding: 40px;
border-radius: 15px;
margin-bottom: 40px;
transition: all 0.4s ease-in-out;
}
.testimonials .box h3 {
font-size: 18px;
font-weight: 500;
color: #313e4b;
}
.testimonials .box:hover {
transform: translateY(-15px);
background-color: rgba(255, 166, 0, 0.733);
}
.testimonials .box h3 span {
font-size: 13px;
font-weight: 400;
color: #02a2c4;
margin-left: 10px;
}
.testimonials .box p {
font-size: 15px;
font-weight: 300;
line-height: 24px;
margin: 0;
color: #000000;
margin-bottom: 20px;
margin-top: 10px;
padding-right: 20px;
}
.testimonials .box .image img {
width: 200px;
border-radius: 50%;
margin: 0;
padding: 0;
display: inline-block;
}
.testimonials .box .icon {
border: 1px solid #eee;
color: #777777;
width: 35px;
height: 35px;
border-radius: 50%;
display: inline-block;
margin-right: 10px;
text-decoration: none;
transition: all 0.3s ease-in-out;
}
.testimonials .box .icon:hover {
color: #ffffff;
border: 1px solid #02a2c4;
background: #02a2c4;
}


/* ////////////////////////////////////////////////////////////////////////////// */


/* contact us section////////////////////////////////////// */
.contact-us-section{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
        to right,
      white 0%,
       white 50%,
         rgb(226, 226, 226) 50%,
         rgb(226, 226, 226) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us-cantainer{
    /* background-color: orange; */
    min-height: 90vh;
    width: 80%;
    display: flex;
}
.contact-us-form{
    /* position: absolute; */
    min-height: 80vh;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.774);
}
.contact-us-bar{
    display: flex;
    justify-content: center;
    align-items: center ;
    /* background-color: #02a1c488; */
    min-height: 80vh;
    width: 30%;
    left: 10;
    transform: translateX(20%);
   

}
.contact-us-bar-div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;  /  */
    background-color: rgb(66, 66, 66);
    height: 70vh;
    width: 100%;
    color: white;
    padding-left: 2rem;
}
.contact-us-bar-div h2{
    font-size: 2rem;
    padding: 2rem 0 3rem 0;
}
.contact-us-bar-div i{
    color: white;
    height: 2rem;
    width: 2rem;
    padding-top: 2rem;
}   
.contact-us-bar-div i:hover{
    color:  orange;
}
.contact-us-bar-div a{
    color: white;
   font-size: 1.2rem;
}
.contact-us-form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100vh;
    width: 100%;
    /* background-color: #60002d; */
    padding: 2rem;
   
   
}
.contact-us-form-div h2{
    align-self: center;
}

.contact-us-form-div input{
height: 3rem;
width: 90%;
color: white;
background-color: transparent;
border: none;
 border-bottom:2px solid black ;
outline: none;
margin-top: 2rem;
}
.contact-us-form-div button{
    height: 3rem;
    width: 40%;
    background-color: black;
    color: white;
    border: none;
    align-self: flex-start;
    margin-top: 2rem;
    margin-left: 4.3rem;
    }



















/* 9555555555555555555555555555555555555555555555555555555555555555555 */
@media(max-width:950px) {
    nav img {
        height: 10rem;
        width: 10rem;
    }
    #menu a {
        font-size: 1rem;
        font-weight: 500;
    }

    
}

/* 85000000000000000000000000000000000000000000000 */
@media(max-width:850px) {

    #menu a {
        font-size: .9rem;
        font-weight: 400;
    }

    .main-head-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
       
    }

    .services-cards {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #head-section h2 {
        font-size: 2.5rem;
    }

    #head-section h3 {
        font-size: 1.7rem;
    }

    #head-section p {
        font-size: .9rem;
    }
    .about-us {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
     border-radius: 0rem 15rem 0rem 0rem; 
    }


    
    .services-section2-cantainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40% 25% 25%;
        gap: 3rem;
        min-height: 100vh;
        min-width: 100%;
    }
    #services-section2{
        min-height: 100vh;
        min-width: 100%;
    }
    .servics2-card1 {
        grid-column: 1/3;
}
    .servics2-card1-content {
        min-height:100vh ;
    }


}


/* 700000000000000000000000000000000000000000000000000000000 */
@media(max-width:700px) {

    nav img {
        height: 8rem;
        width: 8rem;
    }

    #menu a {
        font-size: .8rem;
        font-weight: 300;
    }
    .iq-features{
        display: none;
    }
   #services-section{
    display: flex;
}

}

/* 6000000000000000///////////////////////////////////////////// */
@media(max-width:600px) {

    #menu a {
        font-size: .7rem;
        font-weight: 300;
    }

    .main-head-card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        top: -3%;
    transform: translateY(-3%);
        min-height: 150vh;

    }
.head-card-section{
    min-height: 150vh;
}

    .services-cards {

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #head-section h2 {
        font-size: 2.2rem;
    }

    #head-section h3 {
        font-size: 1.5rem;
    }

    #head-section p {
        font-size: .7rem;
    }

    .services-text h1 {
        font-size: 2.5rem;
    }

    .services-text p {
        font-size: 1.3rem;
    }




}

/* Responsive for 500px */
@media only screen and (max-width: 500px) {
    .holderCircle { width: 250px; height: 250px; margin: 90px auto; }
    .round { left: 15px; top: 20px; width: 220px; height: 220px; }
    .dotCircle .itemDot { font-size: 24px; }
    .contentCircle { width: 160px; top: 100px; }
    .contentCircle .CirItem { font-size: 10px; line-height: 160px; }
    .contentCircle .CirItem i { font-size: 100px; margin-left: -50px; }
}

/* 500000000000000000000000000000000000000000000000 */
@media(max-width:500px) {
    button#hamburger {
        display: block;
        z-index: 99;
    }

    #navbar {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 100%;
        z-index: 80;
        background-color: rgba(202, 200, 200, 0.945);
        border-radius: 0 0 12rem 12rem;
    }

    #navbar div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        flex-direction: column;
        gap: 0.7rem;
    }

}
