* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: calc(10px, 1vmin);
}

#hamburger {
    display: none;
    background-color: transparent;
    position: absolute;
    top: 2%;
    height: 4rem;
    width: 3rem;
    z-index: 99;
    left: 3%;
}
#hamburger img{
    width: 2rem;
    height: 3rem;
}

/* navbar////////////////////////////////////////// */
#navbar {
    z-index: 80;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: .3px solid orange; */
    /* box-shadow: 0px 1px 1px orange inset ; */
    height: 15vh;
    width: 100%;
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
}

nav img {
    height: 12rem;
    width: 12rem;
}

#menu {
    background-color: transparent;
    width: 50%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#menu a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

#menu a:hover {
    font-size: 1.9rem;
    transition: .3s;
    text-shadow: .3px .3px 3px white;
    /* box-shadow: 3px 3px 10px black; */

}


/* head section//////////////////////////////////// */

#head-section {
    background-image: url(./itify\ header\ image.jpg);
    min-height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20rem;
}

.head-text {
    min-height: 40ch;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem 1rem 2rem 1rem;
    color: white;
}

.head-text h2 {
    font-size: 5rem;
}

.head-text p {
    font-size: 1.5rem;
}







.service1-cantainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    min-height: 150vh;
    width: 100%;
}


.service1-cards {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: red; */
    background-image: url(./service-bg.jpg);
    padding: 3rem;
    min-height: 150vh;
    width: 100%;
}





/* .service1-item1///////////////////////////////// */

.service1-item1 {
    color: white;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 30vh;
    min-width: 40%;
    padding: 2rem;
    margin-bottom: 2rem;
}

.service1-item1 h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.service1-item1 p {
    font-size: 1 rem;
}

/* ////////////////// */



/* .service1-item2/////////////////////////////////////////////////////// */

.service1-item2 {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 40vh; */
    gap: 1.5rem;
    min-height: 40vh;
   width: 65%;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.311);
    margin-bottom: 2rem;
}

.service1-item2-card1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 40vh;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 20px black;
    position: relative;
}

.service1-item2-card1:hover {
    background-color: orange;
    color: white;
}

.service1-item2-card1:hover .service1-item2-card1 img {
    background-color: white;
    color: black;
}

.service1-item2-card1 h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.service1-item2-card1 p {
    font-size: 1rem;
}

.service1-item2-card1 img {
    font-size: 1rem;
    background-color: orange;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    justify-self: end;
    align-self: end;
    bottom: 0%;
    right: 0%;
    position: absolute;
}

/* ////////////////////////////////// */
.service1-item2-card2 {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 40vh;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 20px black;
}

.service1-item2-card2 h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    /* align-self: flex-start; */
}

.service1-item2-card2 p {
    font-size: 1rem;
}

.service1-item2-card2 img {
    font-size: 1rem;
    background-color: orange;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    justify-self: end;
    align-self: end;
    bottom: 0%;
    right: 0%;
    position: absolute;
}

/* service item33///////////////////////////////////// */


.service1-item3 {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1.5rem;
    min-height: 33vh;
    width: 100%;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.311);
    margin-bottom: 2rem;
}

.service1-item3-card1 {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 35vh;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 20px black;

}

.service1-item3-card1 h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    /* align-self: flex-start; */
}

.service1-item3-card1 p {
    font-size: 1rem;
}

.service1-item3-card1 img {
    font-size: 1rem;
    background-color: orange;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    justify-self: end;
    align-self: end;
    bottom: 0%;
    right: 0%;
    position: absolute;
}

/* ////////////////////////////////// */
.service1-item3-card2 {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 35vh;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 20px black;
}

.service1-item3-card2 h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    /* align-self: flex-start; */
}

.service1-item3-card2 p {
    font-size: 1rem;
}

.service1-item3-card2 img {
    font-size: 1rem;
    background-color: orange;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    justify-self: end;
    align-self: end;
    bottom: 0%;
    right: 0%;
    position: absolute;
}

/* service- item44444444444444444444444444444444444444444444444444/////////////////// */

.service1-item4 {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1.5rem;
    min-height: 29vh;
    width: 100%;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.311);
}

.service1-item4-card1 {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 30vh;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 20px black;
}

.service1-item3-card1 h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    /* align-self: flex-start; */
}

.service1-item4-card1 p {
    font-size: 1rem;
}

.service1-item4-card1 img {
    font-size: 1rem;
    background-color: orange;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    justify-self: end;
    align-self: end;
    bottom: 0%;
    right: 0%;
    position: absolute;
}

/* ////////////////////////////////// */
.service1-item4-card2 {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 30vh;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 1px 1px 20px black;
}

.service1-item4-card2 h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    /* align-self: flex-start; */
}

.service1-item4-card2 p {
    font-size: 1rem;
}

.service1-item4-card2 img {
    font-size: 1rem;
    background-color: orange;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    justify-self: end;
    align-self: end;
    bottom: 0%;
    right: 0%;
    position: absolute;
}













/* /////////////////////////////////////// */
/* 95000000000000000000000000000000000000000000000000000000000000000000000000000000 */
@media(max-width:850px) {
    nav img{
        height: 10rem;
        width: 10rem;
    }
    #menu a {
        font-size: 1rem;
        font-weight: 500;
    }
}

/* 85000000000000000000000000000000000000000000000000000000000000000000000 */
@media(max-width:850px) {

    #menu a {
        font-size: .9rem;
        font-weight: 400;
    }

    .head-text h2 {
        font-size: 4rem;
    }

    .head-text p {
        font-size: 1.2rem;
    }

    /* ///// */
    .service1-item2 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
       min-height: 40vh;
       width: 100%;

    }

    .service1-item3 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        min-height: 40vh;

    }

    .service1-item4 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        min-height: 40vh;

    }

    .service1-item2-card1{
        height: 40vh;
    }
    .service1-item1-card2{
        height: 40vh;
    }
    .service1-item3-card1{
        height: 40vh;
    }
    .service1-item3-card2{
        height: 40vh;
    }
    .service1-item4-card1{
        height: 40vh;
    }
    .service1-item4-card2{
        height: 40vh;
    }




}

/* 700000000000000000000000000000000000000000000000000000000 */
@media(max-width:700px) {

    nav img{
        height: 8rem;
        width: 8rem;
    }

    #menu a {
        font-size: .8rem;
        font-weight: 300;
    }

    .head-text h2 {
        font-size: 3.5rem;
    }

    .head-text p {
        font-size: 1.1rem;
    }


}

/* 6000000000000000///////////////////////////////////////////// */
@media(max-width:600px) {

    #menu a {
        font-size: .7rem;
        font-weight: 300;
    }

    .head-text h2 {
        font-size: 3rem;
        padding: 1rem;
    }

    .head-text p {
        font-size: 1rem;
        padding: 1rem;
    }


}


/* ////////////////////////////////////////////// */
@media(max-width:500px) {
    button#hamburger {
        display: block;
        z-index: 99;
    }

    #navbar {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 100%;
        z-index: 80;
        background-color: rgba(202, 200, 200, 0.945);
        border-radius: 0 0 12rem 12rem;
    }

    #navbar div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        flex-direction: column;
        gap: 0.7rem;
    }
}

/* ///////////////////////////////////////// */


/* @media(max-width:500px) {
    button#hamburger {
        display: block;
        z-index: 99;
        background-color: red;
    }

    #navbar {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80vh;
        width: 50%;
        z-index: 99;
        /* background-color: wheat; */
/* }

#navbar div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
}

} */

