html{
   font-size: calc(10px + 1vmin);
}
#head-image-color{
   filter: linear-gradient(180deg,rgba(0, 0, 139, 0.479),rgba(255, 166, 0, 0.479),rgba(255, 255, 255, 0.404));
}

 .carousel-caption{
   margin-bottom: 8%;
} 
.carousel-caption h2{
   font-size: 2rem;
   font-weight: 500;
}
.carousel-caption h3{
   font-size: 4.5rem;
}
.carousel-caption p{
   font-size: 1.5rem;
}
.carousel-caption a{
   font-size: 1rem;
   width: 7rem;
   background-color: aliceblue;
   border: none;
   border-radius: .4rem;
   font-weight: 500;
}


/* Your custom CSS */
@keyframes slideFromLeft {
   from {
       transform: translateX(-100%);
   }
   to {
       transform: translateX(0);
   }
}

@keyframes slideFromRight {
   from {
       transform: translateX(100%);
   }
   to {
       transform: translateX(0);
   }
}

/* Apply the animations to specific elements */
.carousel-caption h3.animated.slideFromLeft,
.carousel-caption p.animated.slideFromLeft {
   animation-name: slideFromLeft;
   animation-duration: 1s;
   animation-fill-mode: both;
}

.carousel-caption h3.animated.slideFromRight,
.carousel-caption p.animated.slideFromRight {
   animation-name: slideFromRight;
   animation-duration: 1s;
   animation-fill-mode: both;
}
/* media use.................... */


@media(max-width:1050px){
   .carousel-caption h2{
      font-size: 1.7rem;
      font-weight: 400;
   }
   .carousel-caption h3{
      font-size: 4rem;
   }

}

/* 8500000000000000000000000000000/////////////////////////////////////// */
@media(max-width:850px){

   .carousel-caption h2{
      font-size: 1.7rem;
      font-weight: 400;
   }
   .carousel-caption h3{
      font-size: 4rem;
   }
   .carousel-caption p{
      font-size: 1.2rem;
   }
   .carousel-caption a{
      font-size: .9rem;      
      font-weight: 400;
   }
}
/* 7000000000000000000000000000000 */
@media(max-width:750px){

   .carousel-caption h2{
      font-size: 1.2rem;
      font-weight: 400;
   }
   .carousel-caption h3{
      font-size: 3rem;
   }
   .carousel-caption p{
      font-size: 1rem;
   }
   .carousel-caption a{
      font-size: .8rem;      
      font-weight: 300;
   }
}

   /* 550///////////////////////////////////// */
   @media(max-width:590px){
      
      .carousel-caption{
         margin-bottom: 0;
      } 
      .carousel-caption h2{
         font-size: 1rem;
         font-weight: 400;
      }
      .carousel-caption h3{
         font-size: 2rem;
      }
      .carousel-caption p{
         font-size: .9rem;
      }
      .carousel-caption a{
         font-size: .8rem;      
         font-weight: 300;
      }
   }